body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
#page-wrap {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
/* Index Page */
#message-container {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    background: white;
    padding: 1em 0;
    z-index: 2;
    box-shadow: 0px 0px 6px 0px #0077b6;
    border-radius: 0 0 20px 20px;
    color: #ee2d2f;
    font-size: 1.7rem;
    font-weight: bold;
}
#message-container.error-message {
    opacity: 1;
    visibility: visible;
}
#main-container {
    display: flex;
    padding: 2em;
    justify-content: center;
}
#main-container h1 {
    margin: 0;
}
#main-container a {
    display: flex;
    align-items: center;
    color: inherit;
    gap: 1em;
    transition: all 0.3s;
    text-decoration: none;
}
#main-container a:hover {
    color: #0077b6;
}
#main-container img {
    width: 10rem;
}
.mode-selection-container {
    display: grid;
    grid-auto-flow: column;
    border-bottom: 1px solid black;
}
.mode-selection-btn {
    padding-bottom: 1em;
    padding-top: 1em;
    cursor: pointer;
    transition: all 0.3s;
}
.mode-selection-btn:hover {
    color: #01baef;
}
.mode-selection-btn.selected {
    color: #0077b6;
}
#bot-mode {
    text-align: right;
    border-right: 1px solid black;
    padding-right: 1em;
}
#multiplayer-mode {
    padding-left: 1em;
}
.selected-mode-container .singleplayer-mode, .selected-mode-container .multiplayer-mode {
    display: none;
}
.selected-mode-container .singleplayer-mode {
    position: relative;
}
.selected-mode-container {
    display: flex;
    justify-content: center;
    padding: 2em 0;
}
#room-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#room-container form#gamelobby, form#botgame {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    background: white;
    padding: 20px 20px;
    margin: -20px;
    z-index: 3;
    border-radius: 20px;
    gap: 1em;
}
#room-container #games-list {
    display: none;
}

#room-container #games-list.opened {
    display: block;
    position: absolute;
    top: 20em;
    left: 20%;
    background: white;
    right: 20%;
    z-index: 3;
    padding: 2em;
    border-radius: 20px;
    transition: all 0.3s;
}
#room-container #games-list.opened > * {
    display: grid;
    grid-template-columns: repeat(4,25%);
}
#room-container #games-list span.no-games-msg, .singleplayer-mode span {
    text-align: center;
    padding-top: 1em;
    font-weight: bold;
    font-size: 1.2em;
    color: #ee2d2f;
}
.new-game-container {
    position: relative;
}
button.blue-button {
    background: #0077b6;
    border: none;
    padding: 0.7em 0;
    font-family: 'Ubuntu',sans-serif;
    font-size: 2em;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    width: 10em;
    transition: 0.3s all;
}
button.red-button, a.red-button {
    background: #ee2d2f;
    border: none;
    padding: 0.7em 0;
    font-family: 'Ubuntu',sans-serif;
    font-size: 2em;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    width: 10em;
    text-decoration: none;
    transition: 0.3s all;
}
button.green-button {
    background: #008d30;
    border: none;
    padding: 0.7em 0;
    font-family: 'Ubuntu',sans-serif;
    font-size: 2em;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    width: 10em;
    transition: 0.3s all;
}
button.blue-button:hover {
    background: #01baef;
}
button.red-button:hover, a.red-button:hover {
    opacity: 0.9;
}
button.green-button:hover {
    background: #00b032;
}
form#gamelobby input, form#botgame input {
    background: white;
    border: 1px solid #0077b6;
    border-radius: 15px;
    padding: 0.8em;
}
form#gamelobby label, form#gamelobby label {
    font-size: 1.1em;
}
.checkbox-label {
    display: block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkbox-label .checkmark {
    position: absolute;
    top: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #fff;
    border: 1px solid #0077b6;
    border-radius: 5px;
    margin-top: -3px;
    margin-left: 1em;
    cursor: pointer;
    transition: all 0.2s;
}
.checkbox-label input:hover ~ .checkmark {
    background-color: #01baef;
}
.checkbox-label input:checked ~ .checkmark {
    background-color: #01baef;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    margin-left: -1px;
    margin-top: -1px;
}
.checkbox-label input:checked ~ .checkmark:after {
    display: block;
}
.checkbox-label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.lobbysize-container {
    display: flex;
    gap: 1em;
}
.lobbysize-dropdown {
    position: relative;
    background: white;
    border: 1px solid #0077b6;
    border-radius: 15px;
}
.lobbysize-dropdown.show {
    border-radius: 15px 15px 0 0;
}
.dropdown-selected-option {
    height: 2.3em;
    display: flex;
    width: 4em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s;
}
.dropdown-options {
    max-height: 0;
    overflow: hidden;
    transition: all 0.1s;
}
.lobbysize-dropdown .dropdown-selected-option:hover {
    background: #01baef;
    border-radius: 15px;
}
.lobbysize-dropdown.show .dropdown-selected-option {
    background: #01baef;
    border-radius: 15px 15px 0 0;
}
.lobbysize-dropdown.show .dropdown-selected-option:hover {
    border-radius: 15px 15px 0 0;
}
.lobbysize-dropdown.show .dropdown-option:hover {
    background: #0077b6;
}
.dropdown-options.show {
    overflow: visible;
    max-height: none;
    position: absolute;
    background: white;
    border: 1px solid #0077b6;
    border-radius: 0 0 15px 15px;
    margin-left: -1px;
    width: 100%;
}
.dropdown-option {
    border-top: 1px solid #0077b6;
    height: 2.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s;
}
.dropdown-option:last-of-type {
    border-radius: 0 0 15px 15px;
}
#games-list.opened span {
    border-right: 1px solid black;
    padding: 1em;
    border-bottom: 1px solid black;
}
#games-list.opened div[data-roomid] {
    word-break: break-word;
}
#games-list.opened a {
    padding: 1em;
    border-bottom: 1px solid black;
}
.game-list-table-head span {
    border-right: 1px solid black;
    padding: 1em;
    border-bottom: 1px solid black;
}
.game-list-table-head span:last-of-type {
    border-right: none!important;
}
/* Homepage css END*/
/* Game room css */
#game-container {
    display: grid;
    grid-template-columns: 23% 50% 23%;
    gap: 2%;
    position: relative;
}
#players-info {
    display: flex;
    flex-direction: column;
}
#list-names-container {
    border-bottom: 1px solid #0077b6;
    display: grid;
    grid-template-columns: 70% 30%;
}
#list-names-container span:last-of-type, #players-list ol:last-of-type {
    border-left: 1px solid #0077b6;
}
#list-content-container {
    display: grid;
    grid-template-columns: 70% 30%;
}
#players-list span {
    display: flex;
    padding: 1em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
#players-list ol {
    margin: 0;
    padding: 1em;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
}
li#gamehost:before {
    background-image: url('../images/host-icon.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1.3em;
    width: 1.3em;
    margin-top: -1px;
    content: ' ';
    left: 1em;
    position: absolute;
}
li.you:after {
    background-image: url('../images/user-icon.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1.3em;
    width: 1.3em;
    margin-top: -1px;
    content: ' ';
    right: 1em;
    position: absolute;
}
li.player-unready {
    background-image: url('../images/unready-status-icon.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1.3em;
    width: 1.3em;
    margin-top: -2px;
}
li.player-ready {
    background-image: url('../images/ready-status-icon.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1.3em;
    width: 1.3em;
    margin-top: -2px;
}
#players-names-list li {
    height: 1.3em;
}
button.green-button.small-button {
    padding: 0.7rem 0;
    font-size: 1.8rem;
    width: 10rem;
    align-self: center;
    margin-top: 1rem;
}
#game-window {
    width: 100%;
    height: 30em;
    border: 2px solid #0077b6;
    border-radius: 5px;
    box-shadow: inset 0px 0px 6px 0px #0077b6;
    position: relative;
}
#game-window-container {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}
button#startgame-button {
    position: absolute;
    top: 0;
    margin-top: 1em;
}
#throw-dice-button {
    position: absolute;
    top: 1em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
#user-turn-info {
    position: absolute;
    top: 30%;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    padding-inline: 1em;
}
#user-turn-info .message-buttons {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}
#chat-container {
    width: 80%;
    max-width: 1200px;
    margin-bottom: 1em;
    max-height: 190px;
    border: 1px solid #0077b6;
    scrollbar-width: thin;
    scrollbar-color: #0077b6 white;
}
#chat-container::-webkit-scrollbar {
    width: 12px;
}
#chat-container::-webkit-scrollbar-track {
    background: white;
}
#chat-container::-webkit-scrollbar-thumb {
    background-color: #0077b6;
    border-radius: 20px;
    border: 3px solid white;
}
#chat-container div {
    background-color: #01baef;
    padding: 5px;
    color: white;
}
#chat-container div:nth-child(2n) {
    background-color: #FFF;
    color: black;
}
#send-container {
    padding-bottom: 30px;
    bottom: 0;
    background-color: white;
    max-width: 1200px;
    width: 80%;
    display: flex;
    gap: 0.5em;
    margin: 0;
}
#game-chatroom #send-button.blue-button {
    font-size: 1em;
    padding: 0.5em;
}
#game-chatroom input {
    background: white;
    border: 1px solid #0077b6;
    border-radius: 15px;
    padding: 0.5em;
}
#chat-input {
    flex-grow: 1;
}
.win-message {
    position: absolute;
    top: 50%;
    background: white;
    padding: 20px 20px;
    z-index: 3;
    border-radius: 20px;
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    left: 0;
    right: 0;
}
/* Game room css END*/
.open-flex {
    display: flex!important;
    flex-direction: column;
}
.form-modal-popup.triggered {
    background-color: rgba(72,74,117,.25);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    transition: 1s;
}
h1 {
    font-size: 3em;
}
/* Background and Dice images*/
.game-background {
    background-image: url('../images/wooden-background.webp');
    height: 100%;
    background-size: cover;
    z-index: -1;
    position: relative;
}
.dice-container {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
.dice-container > * {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
}
.diceroll-1 {
    background-image: url('../images/Dice-1-b.svg');
}
.diceroll-2 {
    background-image: url('../images/Dice-2-b.svg');
}
.diceroll-3 {
    background-image: url('../images/Dice-3-b.svg');
}
.diceroll-4 {
    background-image: url('../images/Dice-4-b.svg');
}
.diceroll-5 {
    background-image: url('../images/Dice-5-b.svg');
}
.diceroll-6 {
    background-image: url('../images/Dice-6-b.svg');
}
/* Animations */
.countdown-transition {
    animation: countdown linear 2s;
    -webkit-animation: countdown linear 2s;
    -moz-animation: countdown linear 2s;
    -o-animation: countdown linear 2s;
    -ms-animation: countdown linear 2s;
}

@keyframes countdown {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-moz-keyframes countdown {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-webkit-keyframes countdown {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-o-keyframes countdown {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-ms-keyframes countdown {
    0% {opacity:1;}
    100% {opacity:0;}
}

/* Mobile */
@media screen and (max-width: 1080px) {
    #game-container {
        grid-template-columns: 26% 50% 20%;
    }
    #send-container {
        flex-direction: column;
        width: 90%;
    }
    #chat-container {
        width: 90%;
    }
    #game-chatroom #send-button.blue-button {
        width: 5em;
        align-self: center;
    }
    li.you::after {
        right: 0;
    }
    li#gamehost::before {
        left: 0;
    }
}
@media screen and (max-width: 860px) {
    #game-container {
        grid-template-columns: unset;
    }
    #game-chatroom {
        padding: 2%;
    }
    #chat-container {
        width: 100%;
    }
    #send-container {
        flex-direction: row;
        width: 100%;
    }
    li#gamehost::before {
        left: 25%;
    }
    li.you::after {
        right: 25%;
    }
}
@media screen and (max-width: 769px) {
    #room-container #games-list.opened {
        left: 10%;
        right: 10%;
    }
}
@media screen and (max-width: 500px) {
    #room-container #games-list.opened {
        left: 5%;
        right: 5%;
        padding: 2em 1em;
    }
    .dice-container {
        top: 70%;
        width: 90%;
    }
}
@media screen and (max-width: 440px) {
    #room-container #games-list.opened {
        left: 1%;
        right: 1%;
        padding: 2em 0.5em;
    }
    #games-list.opened div[data-roomid] span:nth-child(2) {
        word-break: keep-all;
    }
    li#gamehost::before {
        left: 15%;
    }
    li.you::after {
        right: 15%;
    }
}
@media screen and (max-width: 360px) {
    #room-container form#gamelobby {
        padding: 2vh 2vw;
        margin: -2vh -2vw;
    }
    li#gamehost::before {
        left: 10%;
    }
    li.you::after {
        right: 10%;
    }
}