<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dice Darts</title>
    <script>
        const gameLobby = "<%= gameLobby %>"
    </script>
    <script defer src="socket.io/socket.io.js"></script>
    <script defer src="js/script.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="page-wrap">
        <div id="game-page-container" style="opacity: 0; visibility: hidden;">
            <div id="main-container">
                <h1>
                    <a href="/">Dice Darts <img src="images/dice-darts-logo.svg" alt="Dice-darts logo"></a>
                </h1>
            </div>
            <div id="game-container">
                <div id="players-info">
                    <div id="players-list">
                        <div id="players-names-container">
                            <span>Players in lobby</span>
                            <ol id="players-names-list">
                            </ol>
                        </div>
                        <div id="players-status">
                            <span>Status</span>
                            <ol id="players-status-list">
                            </ol>
                        </div>
                    </div>
                    <button class="green-button small-button" onclick="changeStatus()">Ready</button>
                </div>
                <div id="game-window-container">
                    <div id="game-window">

                    </div>
                    <div id="user-turn-info">

                    </div>
                </div>
                <div id="game-chatroom">
                    <div id="message-container"></div>
                    <form id="send-container">
                        <input type="text" id="message-input">
                        <button type="submit" id="send-button">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>